
#restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
    #restaurants-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    .filter-options {
        text-align: center;
    }
}

@media screen and (max-width: 830px) {
    #restaurants-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .filter-options {
        text-align: center;
    }
}